html,
body {
    overflow-x: hidden;
}

#home {
    background-image: url(./image/main-page_bg.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header {
    width: 100vw;
    height: 5vh;
    position: relative;

    .hamburger {
        position: fixed;
        right: 20px;
        top: 10px;
        outline: none;
        z-index: 999;

        &::before {
            content: 'MENU';
            font-family: 'Montserrat', sans-serif;
            color: #ffffff;
            line-height: 2;
            width: 100%;
            height: 100%;
            position: absolute;
            left: -80%;
            top: 20%;
            z-index: 999;

        }

        .hamburger-inner {
            background-color: #ffffff;

            &::before,
            &::after {
                background-color: #ffffff;
            }
        }
    }

    &__hidding-sidebar {
        width: 300px;
        height: 100vh;
        position: fixed;
        left: -320px;
        top: 0;
        background-color: #292c31;
        z-index: 998;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -webkit-transition: ease-in-out 0.25s;
        transition: ease-in-out 0.25s;

        .logo {
            width: 250px;
            margin-top: 50px;

            &__link {
                width: 100%;

                img {
                    max-width: 100%;
                }
            }
        }

        .menu {
            margin-top: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;

            &__link {
                width: 100%;
                height: 40px;
                text-decoration: none;
                font-family: 'Oswald', sans-serif;
                color: #ffffff;
                text-align: center;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                vertical-align: middle;
                font-size: 18px;
                line-height: 2;
                -webkit-transition: ease-in-out 0.25s;
                transition: ease-in-out 0.25s;

                &:hover {
                    border-top: 1px solid #ffd752;
                    border-bottom: 1px solid #ffd752;
                    color: #ffd752;
                }
            }
        }

        .social-icons {
            margin-top: 30px;

            &__link {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #3b4046;
                text-align: center;
                color: #ffffff;
                margin-right: 10px;
                -webkit-transition: ease-in-out 0.25s;
                transition: ease-in-out 0.25s;

                &:last-child {
                    margin-right: 0;
                }

                i {
                    font-size: 16px;
                    line-height: 1.9;
                }

                &:hover {
                    background-color: #ffd752;
                    color: #292c31;
                }
            }
        }
    }
}

.menu-active {
    left: 0;
}

.main {
    width: 100vw;
    height: 85vh;

    &__info {
        width: 640px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    &__image {
        max-width: 100%;
    }

    &__description {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        color: #ffffff;
        margin-top: 30px;

        h1 {
            padding: 0;
            margin: 0;
        }

        .ampersand {
            font-size: 42px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: bold;
            opacity: 0.3;
            color: #ffd752;
            position: relative;
            right: 15px;
        }

        &_techcentr {
            text-align: left;

            .techcentr__title {
                font-family: 'Oswald', sans-serif;

                a {
                    color: #ffffff;
                    text-decoration: none;
                }
            }

            .techcentr__address {
                font-family: 'Montserrat', sans-serif;
                line-height: 24px;
                cursor: default;
            }

            .techcentr__phone {
                font-family: 'Oswald', sans-serif;
                font-size: 24px;
                cursor: default;

                i {
                    margin-right: 10px;
                }
            }
        }

        &_detaling {
            text-align: right;

            .detaling__title {
                font-family: 'Oswald', sans-serif;

                a {
                    color: #ffd752;
                    text-decoration: none;
                }
            }

            .detaling__address {
                font-family: 'Montserrat', sans-serif;
                line-height: 24px;
                cursor: default;
            }

            .detaling__phone {
                font-family: 'Oswald', sans-serif;
                font-size: 24px;
                cursor: default;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    &__callback {
        width: 180px;
        height: 40px;
        background-color: transparent;
        border: 1px solid #ffd752;
        border-radius: 2px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-top: 50px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        outline: none;

        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border: 1px solid #ffd752;
            border-radius: 2px;
            opacity: 0;
            z-index: -1;
        }

        &:hover {
            background-color: #ffd752;
            color: #292c31;
        }

        &:active {
            background-color: #ffd23e;
        }


        &:hover::before {
            top: 20px;
            left: 20px;
            opacity: 1;
            -webkit-transition: ease-in-out 0.25s;
            transition: ease-in-out 0.25s;
        }
    }
}

.footer {
    width: 100%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
    position: relative;

    &__click-image {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-animation: moveHand 1s ease-in-out infinite;
        animation: moveHand 1s ease-in-out infinite;
    }

    &__copyright {
        text-align: right;
        width: 100%;
        padding-right: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: #ffffff;
    }
}


/////TECHCENTR////////

#techCenter {
    background-color: #292c31;
    overflow-x: hidden;
}

.top-partition {
    width: 940px;
    height: 450px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(./image/top-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -40% 50%;

    &__left {

        .title {
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: #ffd752;
            margin: 0;
        }

        img {
            width: 500px;
        }

        .subtitle {
            display: inline-block;
            width: 450px;
            height: 50px;
            background-color: #ffd752;
            font-size: 22px;
            font-family: 'Montserrat', sans-serif;
            color: #292c31;
            font-weight: lighter;
            padding-left: 10px;
            line-height: 2.2;

        }
    }

    &__right {
        width: 775px;
        height: 760px;
        background-image: url(./image/circle.png);
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: relative;

        img {
            position: absolute;
            top: 350px;
            right: 110px;
        }
    }
}

.phone {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: bold;

    i {
        margin-right: 10px;
        color: #ffd752;
    }
}

.subscribe {
    display: block;
    width: 180px;
    height: 40px;
    border: none;
    background-color: #f24841;
    border-radius: 2px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 50px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    outline: none;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border: 1px solid #f24841;
        border-radius: 2px;
        opacity: 0;
        z-index: -1;
    }

    &:hover {
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    &:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    &:hover::before {
        top: 20px;
        left: 20px;
        opacity: 1;
        -webkit-transition: ease-in-out 0.25s;
        transition: ease-in-out 0.25s;
        z-index: -1;
    }
}

// advantage //

.advantage {
    width: 100%;
    margin-top: 120px;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 105%;
        position: absolute;
        top: 0;
        left: 0;
        border-top: 4px solid #ffd752;
        border-bottom: 4px solid #ffd752;
        background-color: #3b4046;
        -webkit-transform: skew(0, -7deg);
        transform: skew(0, -7deg);
        z-index: -1;
    }

    &::before {
        content: '';
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        right: -100px;
        -webkit-transform: translateY(-60%);
        transform: translateY(-60%);
        background-image: url(./image/girl.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: left;
        background-blend-mode: hard-light;
        z-index: 1;
        opacity: 0.6;
    }

    &__wrapper {
        width: 940px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }

    &__title {
        display: inline-block;
        background: rgb(59, 64, 70);
        background: -webkit-gradient(linear, left top, right top, from(rgba(59, 64, 70, 1)), color-stop(40%, rgba(0, 0, 0, 0)));
        background: linear-gradient(90deg, rgba(59, 64, 70, 1) 0%, rgba(0, 0, 0, 0) 40%);
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        padding: 5px 0 5px 10px;
        color: #ffffff;
        position: relative;
        top: -70px;
        -webkit-transform: skew(-15deg, 0);
        transform: skew(-15deg, 0);
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    &__item {
        width: 225px;

        &_image {
            width: 150px;
            height: 150px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            img {
                max-width: 100%;
            }
        }

        h3 {
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            color: #f24841;
            margin: 0;
            padding: 0;
            margin-top: 20px;
        }

        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: lighter;
            color: #ffffff;
            line-height: 18px;
        }
    }

}

// services //

.services {
    margin-top: 120px;
    margin-bottom: 120px;

    &__wrapper {
        width: 940px;
        margin: 0 auto;
    }

    &__title {
        display: inline-block;
        background: rgb(59, 64, 70);
        background: -webkit-gradient(linear, left top, right top, from(rgba(59, 64, 70, 1)), color-stop(40%, rgba(0, 0, 0, 0)));
        background: linear-gradient(90deg, rgba(59, 64, 70, 1) 0%, rgba(0, 0, 0, 0) 40%);
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        padding: 5px 0 5px 10px;
        color: #ffffff;
        position: relative;
        -webkit-transform: skew(-15deg, 0);
        transform: skew(-15deg, 0);
    }

    &__general {
        width: 100%;
        position: relative;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url(./image/services-general-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .general__list {
            list-style: none;
            padding: 0;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
            color: #ffffff;

            .general__item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                img {
                    margin-right: 10px;
                }
            }
        }
    }

    &__tire {
        width: 100%;
        position: relative;

        &_tables {
            width: 98%;
            margin-bottom: 40px;

            &-passenger {
                margin-bottom: 30px;
            }

            &-passenger,
            &-big {
                width: 100%;

                h4 {
                    text-transform: uppercase;
                    color: #ffd752;
                    font-family: 'Oswald', sans-serif;
                    text-align: center;
                    margin: 0;
                }

                table {
                    width: 100%;
                    height: 200px;
                    font-family: 'Montserrat', sans-serif;

                    tr {
                        margin-bottom: 15px;
                        text-align: center;
                        color: #ffffff;

                        &:nth-child(2n) {
                            background-color: #3b4046;
                        }

                        td {
                            &:first-child {
                                background-color: transparent;
                                font-family: 'Oswald', sans-serif;
                                text-transform: uppercase;
                                padding-right: 10px;
                                text-align: left;
                                color: #ffd752;
                            }
                        }

                        &:first-child {
                            color: #f24841;
                            font-weight: 700;

                            td:first-child {
                                color: #f24841;
                            }
                        }
                    }
                }
            }
        }

        &_more {
            width: 100%;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                right: -200px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 100%;
                height: 170%;
                background-image: url(./image/tires.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }

            &-title {
                font-family: 'Oswald', sans-serif;
                color: #f24841;
            }

            &-list {
                list-style: none;
                font-family: 'Oswald', sans-serif;
                color: #ffd752;

                li {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    span {
                        color: #ffffff;
                        font-family: 'Montserrat', sans-serif;
                        margin-left: 5px;
                    }
                }
            }

            &-sublist {
                list-style: none;
                margin-top: 10px;
                font-family: 'Montserrat', sans-serif;
                color: #ffffff;
            }
        }
    }
}

//howwork//

.howwork {
    width: 100%;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -200px;
        left: 0;
        width: 100%;
        height: 800px;
        background-image: url(./image/how-bg.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
    }

    &__wrapper {
        width: 940px;
        margin: 0 auto;
    }

    &__title {
        display: inline-block;
        background: rgb(59, 64, 70);
        background: -webkit-gradient(linear, left top, right top, from(rgba(59, 64, 70, 1)), color-stop(40%, rgba(0, 0, 0, 0)));
        background: linear-gradient(90deg, rgba(59, 64, 70, 1) 0%, rgba(0, 0, 0, 0) 40%);
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        padding: 5px 0 5px 10px;
        color: #ffffff;
        position: relative;
        -webkit-transform: skew(-15deg, 0);
        transform: skew(-15deg, 0);
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        li {
            width: 125px;
            position: relative;

            .how-image {
                width: 100%;
                height: 125px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                img {
                    max-width: 120px;
                }
            }

            p {
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                line-height: 20px;
                width: 200px;
                margin-top: 20px;
            }

            &::before {
                content: '';
                width: 50px;
                height: 40px;
                position: absolute;
                top: 50%;
                right: -50%;
                -webkit-transform: translate(50%, -50%);
                transform: translate(50%, -50%);
                background-image: url(./image/right-arrow.png);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:last-child::before {
                display: none;
            }
        }
    }
}

//about //

.about {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 200px;

    &__wrapper {
        width: 940px;
        margin: 0 auto;
    }

    &__title {
        display: inline-block;
        background: rgb(59, 64, 70);
        background: -webkit-gradient(linear, left top, right top, from(rgba(59, 64, 70, 1)), color-stop(40%, rgba(0, 0, 0, 0)));
        background: linear-gradient(90deg, rgba(59, 64, 70, 1) 0%, rgba(0, 0, 0, 0) 40%);
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        padding: 5px 0 5px 10px;
        color: #ffffff;
        position: relative;
        -webkit-transform: skew(-15deg, 0);
        transform: skew(-15deg, 0);
    }

    &__description {
        font-family: serif;
        font-family: 'Montserrat', sans-serif;
        color: #cecece;
        line-height: 22px;
    }
}


//contacts//

.contacts {
    width: 100%;
    position: relative;

    &__wrapper {
        width: 940px;
        margin: 0 auto;
    }

    &__description {
        display: block;
        width: 300px;
        height: 430px;
        position: absolute;
        top: -30px;
        padding: 40px 0 30px 10px;
        color: #ffffff;

        &::after {
            content: '';
            width: 100%;
            height: 105%;
            position: absolute;
            top: 0;
            left: 0;
            border-top: 4px solid #ffd752;
            background-color: #3b4046;
            -webkit-transform: skew(0, 10deg);
            transform: skew(0, 10deg);
            z-index: 1;
            -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        }

        .title,
        .address,
        .phone,
        .time {
            position: relative;
            z-index: 2;
        }

        .logo {
            width: 100%;
            z-index: 2;
            position: relative;

            &__link {
                width: 100%;

                img {
                    max-width: 95%;
                }
            }
        }

        .title {
            text-align: center;
            font-family: 'Oswald', sans-serif;
            margin: 0;
        }

        .address {
            font-family: 'Montserrat', sans-serif;
            line-height: 22px;
            margin-left: 20px;
            margin-top: 20px;
        }

        .phone {
            font-family: 'Montserrat', sans-serif;
            margin-left: 20px;
            font-size: 18px;
            font-weight: bold;

            i {
                margin-right: 10px;
            }
        }

        .time {
            margin-left: 20px;
            margin-top: 20px;
            font-family: 'Montserrat', sans-serif;
            line-height: 22px;

            span {
                color: #ffd752;
            }
        }

        .subscribe {
            color: #3b4046;
            background-color: #ffffff;
            margin-left: 20px;

            &::before {
                border: 1px solid #ffffff;
            }
        }
    }
}

// footer-tech //

.footer-tech {
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 3;
    background-color: #292c31;

    &__wrapper {
        width: 940px;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
    }

    &__copyright {
        text-align: right;
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }

    &__social-icons {
        text-align: right;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;

        .social-icons__link {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #3b4046;
            text-align: center;
            color: #ffffff;
            margin-right: 10px;
            -webkit-transition: ease-in-out 0.25s;
            transition: ease-in-out 0.25s;

            &:last-child {
                margin-right: 0;
            }

            i {
                font-size: 16px;
                line-height: 1.9;
            }

            &:hover {
                background-color: #ffd752;
                color: #292c31;
            }
        }
    }
}

///////////////////DETALING////////////////////


#detaling {
    background-color: #292c31;
    overflow-x: hidden;
}

#detaling .top-partition__right {
    img {
        right: -90px;
    }
}

#detaling {
    .advantage::before {
        height: 100%;
        background-size: contain;
    }
}

.services__drycleaning {
    table {
        tr {
            vertical-align: middle;
            text-align: center;
            height: 60px;

            td {
                width: 130px;
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                position: relative;

                span {
                    color: #f24841;
                    font-weight: bold;
                    position: absolute;
                    left: 4px;
                    top: 4px;
                    -webkit-animation: moveHand 1s ease-in-out infinite;
                    animation: moveHand 1s ease-in-out infinite;
                }

                &:first-child {
                    width: 200px;
                    text-align: left;
                    font-family: "Oswald", sans-serif;
                    color: #ffd752;
                    padding-left: 10px;
                }
            }

            &:nth-child(2n) {
                background-color: #3b4046;
            }

            &:first-child,
            td:first-child {
                font-family: "Oswald", sans-serif;
                color: #ffd752;
            }

            &:first-child td:first-child {
                color: #f24841;
                text-transform: uppercase;
                font-size: 20px;
            }

            &:first-child td {
                font-family: "Oswald", sans-serif;
                color: #ffd752;
            }

            &:nth-child(2) td {

                &::before {
                    content: '';
                    width: 50px;
                    height: 2px;
                    background-color: #f24841;
                    position: absolute;
                    left: 35%;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    -webkit-transform: rotate(-20deg);
                    transform: rotate(-20deg);
                }

                &:first-child::before {
                    display: none;
                }
            }

        }
    }
}

.services__buffing {
    margin-top: 50px;

    table {
        tr {
            vertical-align: middle;
            text-align: center;
            height: 60px;

            td {
                width: 130px;
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                position: relative;

                &:first-child {
                    width: 200px;
                    text-align: left;
                    font-family: "Oswald", sans-serif;
                    color: #ffd752;
                    padding-left: 10px;
                }
            }

            &:nth-child(2n) {
                background-color: #3b4046;
            }

            &:first-child,
            td:first-child {
                font-family: "Oswald", sans-serif;
                color: #ffd752;
            }

            &:first-child td:first-child {
                color: #f24841;
                text-transform: uppercase;
                font-size: 20px;
            }

            &:first-child td {
                font-family: "Oswald", sans-serif;
                color: #ffd752;
            }

        }
    }
}

.services__more-wash {
    margin-top: 50px;

    table {
        tr {
            vertical-align: middle;
            text-align: center;
            height: 60px;

            td {
                width: 130px;
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                position: relative;

                span {
                    color: #f24841;
                    font-weight: bold;
                    position: absolute;
                    left: 4px;
                    top: 4px;
                    -webkit-animation: moveHand 1s ease-in-out infinite;
                    animation: moveHand 1s ease-in-out infinite;
                }

                &:first-child {
                    width: 200px;
                    text-align: left;
                    font-family: "Oswald", sans-serif;
                    color: #ffd752;
                    padding-left: 10px;
                }
            }

            &:nth-child(2n) {
                background-color: #3b4046;
            }

            &:first-child,
            td:first-child {
                font-family: "Oswald", sans-serif;
                color: #ffd752;
            }

            &:first-child td:first-child {
                color: #f24841;
                text-transform: uppercase;
                font-size: 20px;
            }

            &:first-child td {
                font-family: "Oswald", sans-serif;
                color: #ffd752;
            }

            &:nth-child(2) td {

                &::before {
                    content: '';
                    width: 50px;
                    height: 2px;
                    background-color: #f24841;
                    position: absolute;
                    left: 35%;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    -webkit-transform: rotate(-20deg);
                    transform: rotate(-20deg);
                }

                &:first-child::before {
                    display: none;
                }
            }

        }
    }
}

.services__tint {
    margin-top: 50px;

    table {
        tr {
            vertical-align: middle;
            text-align: center;
            height: 60px;

            td {
                width: 130px;
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                position: relative;

                &:first-child {
                    width: 200px;
                    text-align: left;
                    font-family: "Oswald", sans-serif;
                    color: #ffd752;
                    padding-left: 10px;
                }
            }

            &:nth-child(2n) {
                background-color: #3b4046;
            }

            &:first-child,
            td:first-child {
                font-family: "Oswald", sans-serif;
                color: #ffd752;
            }

            &:first-child td:first-child {
                color: #f24841;
                text-transform: uppercase;
                font-size: 20px;
            }

            &:first-child td {
                font-family: "Oswald", sans-serif;
                color: #ffd752;
            }

        }
    }
}

#detaling .about__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    img {
        max-width: 100%;
    }
}

////////////////// mobile /////////////////////@at-root

@media screen and (max-width: 1025px) {

    html,
    body {
        overflow-x: hidden;
    }


    #techCenter {
        .advantage::before {
            top: 68%;
            right: 0px;
        }
    }

    .howwork__wrapper {
        max-width: 80%;
    }

    #detaling .top-partition__right img {
        width: 120%;
        right: 30px;
        top: 385px;
    }
}

@media screen and (max-width: 900px) {

    .top-partition__left {
        margin-left: 20px;

        img {
            width: 350px;
        }

    }

    .top-partition__right {
        width: 680px;
        right: 70px;

        img {
            width: 370px;
            top: 370px;
        }
    }

    .advantage {
        max-width: 95%;
        margin: 0 auto;
        margin-top: 100px;

        &::after {
            width: 115%;
            left: -10%;
        }

        .advantage__list {
            justify-content: flex-start;
            margin-left: 20px;

            li {
                width: 350px;
                margin-right: 20px;
            }
        }

        .advantage::before {
            top: 57%;
            width: 100%;
            right: -20px;
        }
    }

    .services__wrapper {
        max-width: 95%;
    }

    .services__tire {
        width: 100%;
    }

    .services__tire_more {
        margin-left: 10px;
    }

    .howwork__wrapper {
        max-width: 95%;

        .howwork__list {
            align-items: flex-start;

            li {
                height: 270px;

                &::before {
                    width: 30px;
                    right: -30%;
                }

                p {
                    width: 140px;
                }
            }
        }
    }

    .about__wrapper {
        max-width: 95%;
    }

    .footer-tech__wrapper {
        width: 95%;

        .footer-tech__copyright {
            text-align: left;
        }
    }

    #detaling .advantage::before {
        height: 50%;
        width: 70%;
    }
}

@media screen and (max-width: 460px) {
    .header .hamburger {
        right: 0;
    }

    .top-partition {
        margin-top: 50px;
        max-width: 98%;
        height: auto;
        flex-direction: column;

        &__left {
            text-align: center;
            margin-left: 0;
            z-index: 8;

            .title {
                margin-bottom: 20px;
            }

            .subtitle {
                width: 360px;
                height: 100px;
                padding-left: 0;
            }

            .subscribe {
                margin: 0 auto;
            }
        }

        &__right {
            width: 570px;
            top: -270px;
            right: 175px;
        }
    }

    #detaling .top-partition__right img {
        width: 95%;
        right: -217px;
        top: 373px;
    }

    #detaling .advantage::before {
        height: 100%;
        width: 155%;
        top: 60%;
    }

    .advantage {
        margin-top: -180px;

        &__title {
            top: -160px;
        }

        &__list {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .table-mob {
        overflow-x: auto !important;
    }

    .howwork__wrapper .howwork__list {
        flex-direction: column;
        align-items: center;

        li {
            margin-bottom: 30px;

            &::before {
                transform: rotate(90deg);
                right: 40%;
                top: 95%;
            }
        }
    }

    #detaling .about__description {
        flex-direction: column;

        p {
            margin-bottom: 50px;
        }
    }

    .contacts {
        display: flex;
        flex-direction: column-reverse;

        &__wrapper {
            width: 100%;
            z-index: -1;
            margin-bottom: -30px;
        }

        &__description {
            position: relative;
            width: 100%;
            height: 550px;

            .logo {
                margin-top: 30px;
            }
        }
    }

    .footer-tech__copyright {
        font-size: 12px;
    }

    #techCenter .services {
        margin-top: 210px;

        &__general {
            margin-bottom: 50px;
        }
    }

    #techCenter .top-partition__right {
        right: -143px;

        img {
            width: 490px;
            top: 370px;
            right: 146px;
        }
    }

    #home {
        .main__info {
            width: 98%;
        }

        .main__image {
            margin-top: 150px;
            max-width: 80%;
        }

        .main__description {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .main__callback {
            margin-top: 20px;
        }

        .footer {
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 13vh;
            margin-top: 160px;

            &__copyright {
                text-align: center;
                padding: 0;
            }

            &__click-image {
                top: 30px;
                left: 48%;
            }
        }
    }

    h2 {
        font-size: 26px !important;
    }

    .advantage__list {
        margin-left: 0 !important;

        li {
            width: 30% !important;
        }
    }
}

@media screen and (max-width: 360px) {
    h2 {
        font-size: 22px !important;
    }

    .footer-tech {
        &__wrapper {
            width: 98%;
            flex-direction: column-reverse;
            padding-top: 20px;
        }

        &__copyright {
            margin-top: 20px;
        }

        &__social-icons {}
    }
}