html,
body {
  overflow-x: hidden;
}

#home {
  background-image: url(./image/main-page_bg.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.header {
  width: 100vw;
  height: 5vh;
  position: relative;
}

.header .hamburger {
  position: fixed;
  right: 20px;
  top: 10px;
  outline: none;
  z-index: 999;
}

.header .hamburger::before {
  content: 'MENU';
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  line-height: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -80%;
  top: 20%;
  z-index: 999;
}

.header .hamburger .hamburger-inner {
  background-color: #ffffff;
}

.header .hamburger .hamburger-inner::before, .header .hamburger .hamburger-inner::after {
  background-color: #ffffff;
}

.header__hidding-sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  left: -320px;
  top: 0;
  background-color: #292c31;
  z-index: 998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.header__hidding-sidebar .logo {
  width: 250px;
  margin-top: 50px;
}

.header__hidding-sidebar .logo__link {
  width: 100%;
}

.header__hidding-sidebar .logo__link img {
  max-width: 100%;
}

.header__hidding-sidebar .menu {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.header__hidding-sidebar .menu__link {
  width: 100%;
  height: 40px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  text-align: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  vertical-align: middle;
  font-size: 18px;
  line-height: 2;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.header__hidding-sidebar .menu__link:hover {
  border-top: 1px solid #ffd752;
  border-bottom: 1px solid #ffd752;
  color: #ffd752;
}

.header__hidding-sidebar .social-icons {
  margin-top: 30px;
}

.header__hidding-sidebar .social-icons__link {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3b4046;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.header__hidding-sidebar .social-icons__link:last-child {
  margin-right: 0;
}

.header__hidding-sidebar .social-icons__link i {
  font-size: 16px;
  line-height: 1.9;
}

.header__hidding-sidebar .social-icons__link:hover {
  background-color: #ffd752;
  color: #292c31;
}

.menu-active {
  left: 0;
}

.main {
  width: 100vw;
  height: 85vh;
}

.main__info {
  width: 640px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main__image {
  max-width: 100%;
}

.main__description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #ffffff;
  margin-top: 30px;
}

.main__description h1 {
  padding: 0;
  margin: 0;
}

.main__description .ampersand {
  font-size: 42px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  opacity: 0.3;
  color: #ffd752;
  position: relative;
  right: 15px;
}

.main__description_techcentr {
  text-align: left;
}

.main__description_techcentr .techcentr__title {
  font-family: 'Oswald', sans-serif;
}

.main__description_techcentr .techcentr__title a {
  color: #ffffff;
  text-decoration: none;
}

.main__description_techcentr .techcentr__address {
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
  cursor: default;
}

.main__description_techcentr .techcentr__phone {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  cursor: default;
}

.main__description_techcentr .techcentr__phone i {
  margin-right: 10px;
}

.main__description_detaling {
  text-align: right;
}

.main__description_detaling .detaling__title {
  font-family: 'Oswald', sans-serif;
}

.main__description_detaling .detaling__title a {
  color: #ffd752;
  text-decoration: none;
}

.main__description_detaling .detaling__address {
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
  cursor: default;
}

.main__description_detaling .detaling__phone {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  cursor: default;
}

.main__description_detaling .detaling__phone i {
  margin-right: 10px;
}

.main__callback {
  width: 180px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffd752;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 50px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  outline: none;
}

.main__callback::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid #ffd752;
  border-radius: 2px;
  opacity: 0;
  z-index: -1;
}

.main__callback:hover {
  background-color: #ffd752;
  color: #292c31;
}

.main__callback:active {
  background-color: #ffd23e;
}

.main__callback:hover::before {
  top: 20px;
  left: 20px;
  opacity: 1;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.footer {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.footer__click-image {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: moveHand 1s ease-in-out infinite;
  animation: moveHand 1s ease-in-out infinite;
}

.footer__copyright {
  text-align: right;
  width: 100%;
  padding-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #ffffff;
}

#techCenter {
  background-color: #292c31;
  overflow-x: hidden;
}

.top-partition {
  width: 940px;
  height: 450px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(./image/top-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -40% 50%;
}

.top-partition__left .title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #ffd752;
  margin: 0;
}

.top-partition__left img {
  width: 500px;
}

.top-partition__left .subtitle {
  display: inline-block;
  width: 450px;
  height: 50px;
  background-color: #ffd752;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  color: #292c31;
  font-weight: lighter;
  padding-left: 10px;
  line-height: 2.2;
}

.top-partition__right {
  width: 775px;
  height: 760px;
  background-image: url(./image/circle.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.top-partition__right img {
  position: absolute;
  top: 350px;
  right: 110px;
}

.phone {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.phone i {
  margin-right: 10px;
  color: #ffd752;
}

.subscribe {
  display: block;
  width: 180px;
  height: 40px;
  border: none;
  background-color: #f24841;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 50px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  outline: none;
}

.subscribe::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid #f24841;
  border-radius: 2px;
  opacity: 0;
  z-index: -1;
}

.subscribe:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.subscribe:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.subscribe:hover::before {
  top: 20px;
  left: 20px;
  opacity: 1;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  z-index: -1;
}

.advantage {
  width: 100%;
  margin-top: 120px;
  position: relative;
}

.advantage::after {
  content: '';
  width: 100%;
  height: 105%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid #ffd752;
  border-bottom: 4px solid #ffd752;
  background-color: #3b4046;
  -webkit-transform: skew(0, -7deg);
  transform: skew(0, -7deg);
  z-index: -1;
}

.advantage::before {
  content: '';
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  right: -100px;
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
  background-image: url(./image/girl.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-blend-mode: hard-light;
  z-index: 1;
  opacity: 0.6;
}

.advantage__wrapper {
  width: 940px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.advantage__title {
  display: inline-block;
  background: #3b4046;
  background: -webkit-gradient(linear, left top, right top, from(#3b4046), color-stop(40%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #3b4046 0%, rgba(0, 0, 0, 0) 40%);
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding: 5px 0 5px 10px;
  color: #ffffff;
  position: relative;
  top: -70px;
  -webkit-transform: skew(-15deg, 0);
  transform: skew(-15deg, 0);
}

.advantage__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantage__item {
  width: 225px;
}

.advantage__item_image {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantage__item_image img {
  max-width: 100%;
}

.advantage__item h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #f24841;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.advantage__item p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: #ffffff;
  line-height: 18px;
}

.services {
  margin-top: 120px;
  margin-bottom: 120px;
}

.services__wrapper {
  width: 940px;
  margin: 0 auto;
}

.services__title {
  display: inline-block;
  background: #3b4046;
  background: -webkit-gradient(linear, left top, right top, from(#3b4046), color-stop(40%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #3b4046 0%, rgba(0, 0, 0, 0) 40%);
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding: 5px 0 5px 10px;
  color: #ffffff;
  position: relative;
  -webkit-transform: skew(-15deg, 0);
  transform: skew(-15deg, 0);
}

.services__general {
  width: 100%;
  position: relative;
}

.services__general::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(./image/services-general-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__general .general__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.services__general .general__list .general__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services__general .general__list .general__item img {
  margin-right: 10px;
}

.services__tire {
  width: 100%;
  position: relative;
}

.services__tire_tables {
  width: 98%;
  margin-bottom: 40px;
}

.services__tire_tables-passenger {
  margin-bottom: 30px;
}

.services__tire_tables-passenger, .services__tire_tables-big {
  width: 100%;
}

.services__tire_tables-passenger h4, .services__tire_tables-big h4 {
  text-transform: uppercase;
  color: #ffd752;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 0;
}

.services__tire_tables-passenger table, .services__tire_tables-big table {
  width: 100%;
  height: 200px;
  font-family: 'Montserrat', sans-serif;
}

.services__tire_tables-passenger table tr, .services__tire_tables-big table tr {
  margin-bottom: 15px;
  text-align: center;
  color: #ffffff;
}

.services__tire_tables-passenger table tr:nth-child(2n), .services__tire_tables-big table tr:nth-child(2n) {
  background-color: #3b4046;
}

.services__tire_tables-passenger table tr td:first-child, .services__tire_tables-big table tr td:first-child {
  background-color: transparent;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding-right: 10px;
  text-align: left;
  color: #ffd752;
}

.services__tire_tables-passenger table tr:first-child, .services__tire_tables-big table tr:first-child {
  color: #f24841;
  font-weight: 700;
}

.services__tire_tables-passenger table tr:first-child td:first-child, .services__tire_tables-big table tr:first-child td:first-child {
  color: #f24841;
}

.services__tire_more {
  width: 100%;
  position: relative;
}

.services__tire_more::before {
  content: '';
  position: absolute;
  right: -200px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 170%;
  background-image: url(./image/tires.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.services__tire_more-title {
  font-family: 'Oswald', sans-serif;
  color: #f24841;
}

.services__tire_more-list {
  list-style: none;
  font-family: 'Oswald', sans-serif;
  color: #ffd752;
}

.services__tire_more-list li {
  margin-bottom: 10px;
}

.services__tire_more-list li:last-child {
  margin-bottom: 0;
}

.services__tire_more-list li span {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin-left: 5px;
}

.services__tire_more-sublist {
  list-style: none;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.howwork {
  width: 100%;
  position: relative;
}

.howwork::before {
  content: '';
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 800px;
  background-image: url(./image/how-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.howwork__wrapper {
  width: 940px;
  margin: 0 auto;
}

.howwork__title {
  display: inline-block;
  background: #3b4046;
  background: -webkit-gradient(linear, left top, right top, from(#3b4046), color-stop(40%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #3b4046 0%, rgba(0, 0, 0, 0) 40%);
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding: 5px 0 5px 10px;
  color: #ffffff;
  position: relative;
  -webkit-transform: skew(-15deg, 0);
  transform: skew(-15deg, 0);
}

.howwork__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.howwork__list li {
  width: 125px;
  position: relative;
}

.howwork__list li .how-image {
  width: 100%;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.howwork__list li .how-image img {
  max-width: 120px;
}

.howwork__list li p {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 200px;
  margin-top: 20px;
}

.howwork__list li::before {
  content: '';
  width: 50px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: -50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  background-image: url(./image/right-arrow.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.howwork__list li:last-child::before {
  display: none;
}

.about {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 200px;
}

.about__wrapper {
  width: 940px;
  margin: 0 auto;
}

.about__title {
  display: inline-block;
  background: #3b4046;
  background: -webkit-gradient(linear, left top, right top, from(#3b4046), color-stop(40%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #3b4046 0%, rgba(0, 0, 0, 0) 40%);
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding: 5px 0 5px 10px;
  color: #ffffff;
  position: relative;
  -webkit-transform: skew(-15deg, 0);
  transform: skew(-15deg, 0);
}

.about__description {
  font-family: serif;
  font-family: 'Montserrat', sans-serif;
  color: #cecece;
  line-height: 22px;
}

.contacts {
  width: 100%;
  position: relative;
}

.contacts__wrapper {
  width: 940px;
  margin: 0 auto;
}

.contacts__description {
  display: block;
  width: 300px;
  height: 430px;
  position: absolute;
  top: -30px;
  padding: 40px 0 30px 10px;
  color: #ffffff;
}

.contacts__description::after {
  content: '';
  width: 100%;
  height: 105%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid #ffd752;
  background-color: #3b4046;
  -webkit-transform: skew(0, 10deg);
  transform: skew(0, 10deg);
  z-index: 1;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.contacts__description .title,
.contacts__description .address,
.contacts__description .phone,
.contacts__description .time {
  position: relative;
  z-index: 2;
}

.contacts__description .logo {
  width: 100%;
  z-index: 2;
  position: relative;
}

.contacts__description .logo__link {
  width: 100%;
}

.contacts__description .logo__link img {
  max-width: 95%;
}

.contacts__description .title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.contacts__description .address {
  font-family: 'Montserrat', sans-serif;
  line-height: 22px;
  margin-left: 20px;
  margin-top: 20px;
}

.contacts__description .phone {
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.contacts__description .phone i {
  margin-right: 10px;
}

.contacts__description .time {
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 22px;
}

.contacts__description .time span {
  color: #ffd752;
}

.contacts__description .subscribe {
  color: #3b4046;
  background-color: #ffffff;
  margin-left: 20px;
}

.contacts__description .subscribe::before {
  border: 1px solid #ffffff;
}

.footer-tech {
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 3;
  background-color: #292c31;
}

.footer-tech__wrapper {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.footer-tech__copyright {
  text-align: right;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.footer-tech__social-icons {
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-tech__social-icons .social-icons__link {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3b4046;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.footer-tech__social-icons .social-icons__link:last-child {
  margin-right: 0;
}

.footer-tech__social-icons .social-icons__link i {
  font-size: 16px;
  line-height: 1.9;
}

.footer-tech__social-icons .social-icons__link:hover {
  background-color: #ffd752;
  color: #292c31;
}

#detaling {
  background-color: #292c31;
  overflow-x: hidden;
}

#detaling .top-partition__right img {
  right: -90px;
}

#detaling .advantage::before {
  height: 100%;
  background-size: contain;
}

.services__drycleaning table tr {
  vertical-align: middle;
  text-align: center;
  height: 60px;
}

.services__drycleaning table tr td {
  width: 130px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.services__drycleaning table tr td span {
  color: #f24841;
  font-weight: bold;
  position: absolute;
  left: 4px;
  top: 4px;
  -webkit-animation: moveHand 1s ease-in-out infinite;
  animation: moveHand 1s ease-in-out infinite;
}

.services__drycleaning table tr td:first-child {
  width: 200px;
  text-align: left;
  font-family: "Oswald", sans-serif;
  color: #ffd752;
  padding-left: 10px;
}

.services__drycleaning table tr:nth-child(2n) {
  background-color: #3b4046;
}

.services__drycleaning table tr:first-child,
.services__drycleaning table tr td:first-child {
  font-family: "Oswald", sans-serif;
  color: #ffd752;
}

.services__drycleaning table tr:first-child td:first-child {
  color: #f24841;
  text-transform: uppercase;
  font-size: 20px;
}

.services__drycleaning table tr:first-child td {
  font-family: "Oswald", sans-serif;
  color: #ffd752;
}

.services__drycleaning table tr:nth-child(2) td::before {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #f24841;
  position: absolute;
  left: 35%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.services__drycleaning table tr:nth-child(2) td:first-child::before {
  display: none;
}

.services__buffing {
  margin-top: 50px;
}

.services__buffing table tr {
  vertical-align: middle;
  text-align: center;
  height: 60px;
}

.services__buffing table tr td {
  width: 130px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.services__buffing table tr td:first-child {
  width: 200px;
  text-align: left;
  font-family: "Oswald", sans-serif;
  color: #ffd752;
  padding-left: 10px;
}

.services__buffing table tr:nth-child(2n) {
  background-color: #3b4046;
}

.services__buffing table tr:first-child,
.services__buffing table tr td:first-child {
  font-family: "Oswald", sans-serif;
  color: #ffd752;
}

.services__buffing table tr:first-child td:first-child {
  color: #f24841;
  text-transform: uppercase;
  font-size: 20px;
}

.services__buffing table tr:first-child td {
  font-family: "Oswald", sans-serif;
  color: #ffd752;
}

.services__more-wash {
  margin-top: 50px;
}

.services__more-wash table tr {
  vertical-align: middle;
  text-align: center;
  height: 60px;
}

.services__more-wash table tr td {
  width: 130px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.services__more-wash table tr td span {
  color: #f24841;
  font-weight: bold;
  position: absolute;
  left: 4px;
  top: 4px;
  -webkit-animation: moveHand 1s ease-in-out infinite;
  animation: moveHand 1s ease-in-out infinite;
}

.services__more-wash table tr td:first-child {
  width: 200px;
  text-align: left;
  font-family: "Oswald", sans-serif;
  color: #ffd752;
  padding-left: 10px;
}

.services__more-wash table tr:nth-child(2n) {
  background-color: #3b4046;
}

.services__more-wash table tr:first-child,
.services__more-wash table tr td:first-child {
  font-family: "Oswald", sans-serif;
  color: #ffd752;
}

.services__more-wash table tr:first-child td:first-child {
  color: #f24841;
  text-transform: uppercase;
  font-size: 20px;
}

.services__more-wash table tr:first-child td {
  font-family: "Oswald", sans-serif;
  color: #ffd752;
}

.services__more-wash table tr:nth-child(2) td::before {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #f24841;
  position: absolute;
  left: 35%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.services__more-wash table tr:nth-child(2) td:first-child::before {
  display: none;
}

.services__tint {
  margin-top: 50px;
}

.services__tint table tr {
  vertical-align: middle;
  text-align: center;
  height: 60px;
}

.services__tint table tr td {
  width: 130px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.services__tint table tr td:first-child {
  width: 200px;
  text-align: left;
  font-family: "Oswald", sans-serif;
  color: #ffd752;
  padding-left: 10px;
}

.services__tint table tr:nth-child(2n) {
  background-color: #3b4046;
}

.services__tint table tr:first-child,
.services__tint table tr td:first-child {
  font-family: "Oswald", sans-serif;
  color: #ffd752;
}

.services__tint table tr:first-child td:first-child {
  color: #f24841;
  text-transform: uppercase;
  font-size: 20px;
}

.services__tint table tr:first-child td {
  font-family: "Oswald", sans-serif;
  color: #ffd752;
}

#detaling .about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#detaling .about__description img {
  max-width: 100%;
}

@media screen and (max-width: 1025px) {
  html,
  body {
    overflow-x: hidden;
  }
  #techCenter .advantage::before {
    top: 68%;
    right: 0px;
  }
  .howwork__wrapper {
    max-width: 80%;
  }
  #detaling .top-partition__right img {
    width: 120%;
    right: 30px;
    top: 385px;
  }
}

@media screen and (max-width: 900px) {
  .top-partition__left {
    margin-left: 20px;
  }
  .top-partition__left img {
    width: 350px;
  }
  .top-partition__right {
    width: 680px;
    right: 70px;
  }
  .top-partition__right img {
    width: 370px;
    top: 370px;
  }
  .advantage {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 100px;
  }
  .advantage::after {
    width: 115%;
    left: -10%;
  }
  .advantage .advantage__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 20px;
  }
  .advantage .advantage__list li {
    width: 350px;
    margin-right: 20px;
  }
  .advantage .advantage::before {
    top: 57%;
    width: 100%;
    right: -20px;
  }
  .services__wrapper {
    max-width: 95%;
  }
  .services__tire {
    width: 100%;
  }
  .services__tire_more {
    margin-left: 10px;
  }
  .howwork__wrapper {
    max-width: 95%;
  }
  .howwork__wrapper .howwork__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .howwork__wrapper .howwork__list li {
    height: 270px;
  }
  .howwork__wrapper .howwork__list li::before {
    width: 30px;
    right: -30%;
  }
  .howwork__wrapper .howwork__list li p {
    width: 140px;
  }
  .about__wrapper {
    max-width: 95%;
  }
  .footer-tech__wrapper {
    width: 95%;
  }
  .footer-tech__wrapper .footer-tech__copyright {
    text-align: left;
  }
  #detaling .advantage::before {
    height: 50%;
    width: 70%;
  }
}

@media screen and (max-width: 460px) {
  .header .hamburger {
    right: 0;
  }
  .top-partition {
    margin-top: 50px;
    max-width: 98%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-partition__left {
    text-align: center;
    margin-left: 0;
    z-index: 8;
  }
  .top-partition__left .title {
    margin-bottom: 20px;
  }
  .top-partition__left .subtitle {
    width: 360px;
    height: 100px;
    padding-left: 0;
  }
  .top-partition__left .subscribe {
    margin: 0 auto;
  }
  .top-partition__right {
    width: 570px;
    top: -270px;
    right: 175px;
  }
  #detaling .top-partition__right img {
    width: 95%;
    right: -217px;
    top: 373px;
  }
  #detaling .advantage::before {
    height: 100%;
    width: 155%;
    top: 60%;
  }
  .advantage {
    margin-top: -180px;
  }
  .advantage__title {
    top: -160px;
  }
  .advantage__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantage__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .table-mob {
    overflow-x: auto !important;
  }
  .howwork__wrapper .howwork__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .howwork__wrapper .howwork__list li {
    margin-bottom: 30px;
  }
  .howwork__wrapper .howwork__list li::before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    right: 40%;
    top: 95%;
  }
  #detaling .about__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #detaling .about__description p {
    margin-bottom: 50px;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacts__wrapper {
    width: 100%;
    z-index: -1;
    margin-bottom: -30px;
  }
  .contacts__description {
    position: relative;
    width: 100%;
    height: 550px;
  }
  .contacts__description .logo {
    margin-top: 30px;
  }
  .footer-tech__copyright {
    font-size: 12px;
  }
  #techCenter .services {
    margin-top: 210px;
  }
  #techCenter .services__general {
    margin-bottom: 50px;
  }
  #techCenter .top-partition__right {
    right: -143px;
  }
  #techCenter .top-partition__right img {
    width: 490px;
    top: 370px;
    right: 146px;
  }
  #home .main__info {
    width: 98%;
  }
  #home .main__image {
    margin-top: 150px;
    max-width: 80%;
  }
  #home .main__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home .main__callback {
    margin-top: 20px;
  }
  #home .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 13vh;
    margin-top: 160px;
  }
  #home .footer__copyright {
    text-align: center;
    padding: 0;
  }
  #home .footer__click-image {
    top: 30px;
    left: 48%;
  }
  h2 {
    font-size: 26px !important;
  }
  .advantage__list {
    margin-left: 0 !important;
  }
  .advantage__list li {
    width: 30% !important;
  }
}

@media screen and (max-width: 360px) {
  h2 {
    font-size: 22px !important;
  }
  .footer-tech__wrapper {
    width: 98%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 20px;
  }
  .footer-tech__copyright {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */